fastapi
uvicorn
python-multipart

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings

python-magic

pillow
pymupdf

ffmpeg-python

aiofiles

python-dotenv
# python-magic
# python-magic-binary

uuid

transformers
torch
torchvision
pillow
pytesseract
opencv-python
ultralytics

groq
filetype
# AUTH
passlib[bcrypt]
python-jose[cryptography]
email-validator

# FILE TYPE DETECTION
filetype

# VIDEO PROCESSING
opencv-python

chromadb
sentence-transformers
