fastapi
uvicorn
python-multipart

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings

python-magic

pillow
pymupdf
python-docx

ffmpeg-python

aiofiles

python-dotenv
# python-magic
# python-magic-binary

uuid

slowapi

transformers
torch
torchvision
pillow
pytesseract
opencv-python
ultralytics

groq
filetype
# AUTH
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
email-validator

# FILE TYPE DETECTION
filetype

# VIDEO PROCESSING
opencv-python

chromadb
sentence-transformers

cloudinary 
httpx
docx
python-pptx
openpyxl